{{#layout}}
<div>
    <h1>Listado de Inmuebles</h1>
    <table>
        <caption>Información de Inmuebles</caption>
        <thead>
        <tr>
            <th>Cantidad de Ambientes</th>
            <th>Tamaño (m²)</th>
            <th>Zona</th>
        </tr>
        </thead>
        <tbody>
        {{#inmuebles}}
            <tr>
                <td>{{cantAmbientes}}</td>
                <td>{{tamanioEnM2}}</td>
                <td class="zona">{{#zona}}{{zona.nombre}}{{/zona}}</td>
            </tr>
        {{/inmuebles}}
        </tbody>
    </table>
</div>
{{/layout}}

{{>layout}}