{{#layout}}
    <div>
    <h1>Listado de Zonas</h1>
    <table>
        <caption>Información de Zonas</caption>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        {{#zonas}}
            <tr>
                <td>{{nombre}}</td>
                <td class="price">{{precio}}</td>
                <td class="id">{{id}}</td>
            </tr>
        {{/zonas}}
        </tbody>
    </table>
</div>
{{/layout}}

{{>layout}}